body {
    background-color: rgb(135, 136, 136);
}

.menu {
    background-color: rgb(85, 85, 85);
}

ol {
    display: flex;
    justify-content: center;
    padding-right: 5%;
    font-size: 2vw;
    list-style-type: none;
}

.menu-buttons {
   padding-right: 3%; 

}