body {
    background-color: rgb(135, 136, 136);
}

.menu {
    background-color: rgb(85, 85, 85);
}

ol {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5%;
    font-size: 2.2ch;
}

