.tags .tag {
  color: var(--tag-color);
  font-size: var(--text-xs);
  border-radius: 5px;
  border: var(--tag-background) 1px solid;
  padding: 2px 8px;
  background-color: var(--tag-background);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.tags {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media screen and (min-width: 1024px) {
  .tags .tag {
    font-size: var(--text-sm);
    padding: 4px 10px;
  }
}
